[submodule "themes/mero"]
	path = themes/mero
	url = https://github.com/darshanbaral/mero.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
